DB_URL:
  local: mysql+aiomysql://as:os@rogaining_system_db:3306/local_db?charset=utf8mb4
  dev: mysql+aiomysql://{user}:{pass}@{host}:{ports}/{db_name}?charset=utf8mb4
  test: mysql+aiomysql://{user}:{pass}@{host}:{ports}/{db_name}?charset=utf8mb4
  prod: mysql+aiomysql://{user}:{pass}@{host}:{ports}/{db_name}?charset=utf8mb4

# basic認証
BASIC_USER:
  default: user
  prod: u
BASIC_PASSWORD:
  default: pass
  prod: p

CHANNEL_ACCESS_TOKEN:
  default: CHANNEL_ACCESS_TOKEN
LINE_ACCESS_SECRET:
  default: LINE_ACCESS_SECRET

JWT_SECRET_KEY:
  default: gau89s5chqf023jrfs9g877x3sadsauqhrfajsidof8390qjfafudifhdsiuafhidsu

CSRF_SECRET_KEY:
  default: gafhjhhbcoqwlyfjaluf[2ddsada

BASE_URL:
  local: http://localhost/

DEBUG:
  local: True
  default: False

STAGE_NAME: local
RSLinehandlerName:
  local: RSLinehandler-local
  dev: RSLinehandler-dev
  prod: RSLinehandler-prod
  default: RSLinehandler-default
